.blue-background {
  background-color: #55c0ec;
}

.green-background {
  background-color: #90ddaa;
}

.grayblue-background {
  background-color: #40596b;
}

body {
  color: #383838;
  font-family: Signika, Roboto, Helvetica;
}

.flex-sa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px 0 0 0;
}

a:link, a:visited {
  color: #ffdb58;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

.menu-padding {
  font-size: 20px;
  margin: 0;
  padding: 15px 460px 15px 460px;
}

.home-container {
  display: flex;
  flex-direction: row;
  padding: 50px 20px 50px 60px;
}

h1 {
  color: #537492;
  font-size: 70px;
  font-weight: 300;
}

h2 {
  font-size: 40px;
  font-weight: 300;
}

.p-font {
  font-size: 20px;
}

.about-container {
  padding: 15px 10px 30px 50px;
}

.red-text {
  color: #bf0000;
}

.smaller-image {
  width: 30px;
}

.footer-style {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  justify-content: space-around;
  margin-top: 30px;
  padding: 15px 0 15px 0;
}
