.blue-background {
  background-color: #55c0ec;
}

.green-background {
  background-color: #90ddaa;
}

.grayblue-background {
  background-color: #40596b;
}

body {
  color: #383838;
  font-family: Signika, Roboto, Helvetica;
}

nav a:link, nav a:visited {
  color: #ffdb58;
  text-decoration: none;

}

nav a:hover {
  color: white;
  text-decoration: none;
}

h1 {
  color: #537492;
  color: #234d6b;
  font-size: 80px;
}

h2 {
  font-size: 38px;
  font-weight: 300;
}

.font-25 {
  font-size: 25px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-13 {
  font-size: 13px !important;
} 

.red-text {
  color: #bf0000;
}

.xs-image {
  width: 30px;
  height: 35px;
}

.smaller-image {
  width: 40px;
}

.medium-image {
  width: 220px;
}

u {
  text-decoration-color: #55c0ec;
  text-underline-position: under;
}

.und {
  text-decoration: underline !important;
  text-decoration-color: #fff !important;
}

.yellow-bg {
  background-color: #ffdb58
}

.row-padding {
  padding: 1rem 12% 0;
}

.flex-32 {
  flex: 0 0 32%;
}

.card-border {
 border: none;
 border-radius: .25rem .25rem 0 0;
}

.card-h {
  height: 342px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-b {
  border-radius: 0;
  flex: 0 0 20%;
}

span a:link {
  text-decoration: underline;
}

/*
* {
  border: 1px solid red !important;
} 
*/
.pt-6,
.py-6 {
  padding-top: 5rem !important;
}

.pr-6,
.px-6 {
  padding-right: 5rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 5rem !important;
}

.pl-6,
.px-6 {
  padding-left: 5rem !important;
}

.mt-6,
.my-6 {
  margin-top: 5rem !important;
}

.mr-6,
.mx-6 {
  margin-right: 5rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 5rem !important;
}

.ml-6,
.mx-6 {
  margin-left: 5rem !important;
}